.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 85vw;
  height: 400px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.jersey-main-img {
  margin-bottom: 1rem;
  width: 60vw;
  height: 350px;
  object-fit: cover;
  border: 4px solid black;
}
article h4 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.prev,
.next {
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  background: gray;
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: black;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
