* {
  box-sizing: border-box;
}

body {
  color: white;
  background-image: linear-gradient(90deg, #07befa, #474cb1, #e51b75);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.page {
  min-height: calc(100vh - 7.8rem);
}

/* .page {
  min-height: calc(100vh - (20vh + 2.3rem));
} */
/*============ NAVABR ============*/

.navbar {
  padding: 0.2rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: black;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.navbar-brand span:hover {
  color: #1ebba3;
}

.navbar-brand {
  width: 40px;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
}

.whatsapp {
  margin-right: 2rem;
}

.navbar-whatsapp {
  width: 40px;
  margin-right: 12px;
}

.navbar-toggler {
  border-color: hotpink;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*============ Extra ============*/

.main-img {
  height: 420px;
  width: 100%;
}

.price {
  color: yellow;
}

.btn-grid {
  padding: 0px 4px 3px;
}

.category-btn {
  margin: 0.25em 0;
  padding: 0.25rem 0;
  text-transform: capitalize;
  font-weight: 500;
}

/*============ FOOTER ============*/

footer {
  padding-top: 0.7rem;
  background-color: black;
  color: #1ebba3;
}

/*============ MOBILE ============*/

@media (max-width: 992px) {
  .mobile-nav {
    padding: 0.8rem 1px;
  }
  .mobile-sort {
    text-align: left;
    margin: 0;
    padding: 10px 0;
  }
  .mobile-select {
    display: flex;
    justify-content: left !important;
  }
}
